@model IEnumerable<SR.AutoMapper.Sample.UI.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h3>Sample AutoMapper - ASP.NET Core 2.2</h3>
        
        @foreach (var user in Model)
        {
            <div>
                @user.FullName (Age - @user.Age)
            </div>
        }
    </div>
</div>
